/* .letter-content {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 16px;
    box-sizing: border-box;
}

.words {
    display: block;
    background-color: #eeeff0;
    border-radius: 4px;
    margin: 8px 0;
    height: 10%;
}

.line1 {
    width: 40%;
    height: 7%;
}

.line2,
.line3,
.line4 {
    width: 80%;
    height: 10%;
} */