.content {
    width: 100%;
    max-width: 350px;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4%;
    box-shadow: 0 1.5px 25px rgba(0, 0, 0, .15);
}