<div class="flex flex-col items-center">
  <p-panelmenu [model]="items" class="w-full">
    <ng-template #item let-item>
      <div pRipple class="flex items-center justify-between w-full h-10 px-3 cursor-pointer group">
        <i [class]="item.icon + ' flex-shrink-0 text-primary group-hover:text-inherit'"></i>

        <div class="hidden sm:flex flex-1 items-center min-w-0 ml-2">
          <span class="truncate">{{ item.label }}</span>

          @if (item.badge) {
            <p-badge class="ml-auto" [value]="item.badge" />
          }

          @if (item.shortcut) {
            <span
              class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1"
            >
              {{ item.shortcut }}
            </span>
          }
        </div>

        @if (item.items) {
          <i
            class="pi pi-angle-left flex-shrink-0 text-primary group-hover:text-inherit duration-300"
            [ngClass]="{ '-rotate-90': item.expanded }"
          ></i>
        }
      </div>
    </ng-template>
  </p-panelmenu>
</div>
