<div class="flex flex-col items-center">
  <p-panelmenu [model]="items" class="w-full">
    <ng-template #item let-item>
      <div pRipple class="group flex h-10 w-full cursor-pointer items-center justify-between px-3">
        <i [class]="item.icon + ' text-primary flex-shrink-0 group-hover:text-inherit'"></i>

        <div class="ml-2 hidden min-w-0 flex-1 items-center sm:flex">
          <span class="truncate">{{ item.label }}</span>

          @if (item.badge) {
            <p-badge class="ml-auto" [value]="item.badge" />
          }

          @if (item.shortcut) {
            <span
              class="border-surface bg-emphasis text-muted-color ml-auto rounded border p-1 text-xs"
            >
              {{ item.shortcut }}
            </span>
          }
        </div>

        @if (item.items) {
          <i
            class="pi pi-angle-left text-primary flex-shrink-0 duration-300 group-hover:text-inherit"
            [ngClass]="{ '-rotate-90': item.expanded }"
          ></i>
        }
      </div>
    </ng-template>
  </p-panelmenu>
</div>
