<p-carousel
  [numVisible]="numVisible"
  [numScroll]="numScroll"
  [value]="value"
  [circular]="circular"
  [autoplayInterval]="autoplayInterval"
>
  <ng-template let-product #item>
    <div class="flex w-full justify-center">
      <div class="mx-2 flex max-w-[300px] flex-col flex-wrap gap-1 rounded-lg border p-2 shadow-md">
        <div class="flex max-w-full flex-col gap-2">
          <div
            class="flex aspect-square items-center justify-center overflow-hidden border border-gray-200"
          >
            <app-image-component
              imageClass="object-cover"
              [src]="product.images[productImages[product.id]] + '?width=600'"
              [alt]="product.name"
              loading="lazy"
              decoding="async"
              appendTo="body"
              [preview]="true"
            />
          </div>

          <div class="flex items-center gap-1 overflow-hidden">
            @for (image of product.images; track image) {
              <app-image-component
                imageClass="flex h-15 w-15 shrink-0 cursor-pointer items-center justify-center overflow-hidden object-cover"
                [src]="image + '?width=120'"
                [alt]="product.id"
                loading="lazy"
                decoding="async"
                (click)="onImageChanged(product.id, $index)"
                [class.border-2]="productImages[product.id] === $index"
                onkeypress=""
              />

              <img [src]="image + '?width=120'" [alt]="product.id" class="hidden" />
            }
          </div>
        </div>

        <div class="flex flex-1 shrink-0 flex-col justify-between">
          <div>
            <div class="mt-1 mb-1 text-lg font-semibold">
              <span>{{ product.name }}</span>

              @if (product.series) {
                <span> - {{ product.series }}</span>
              }
            </div>

            <div class="mb-3 flex gap-3">
              <span class="text-sm font-medium text-gray-500">
                {{ product.studio }}
              </span>

              <span class="text-sm font-medium text-gray-500">
                {{ product.material }}
              </span>

              <span class="text-sm font-medium text-gray-500">
                {{ product.type }}
              </span>
            </div>
          </div>

          <div class="flex items-center justify-between">
            <div class="font-bold">
              {{ product.price | currency: 'VND' : 'symbol' : '1.0-0' }}
            </div>

            <div>
              <app-button-component icon="pi pi-heart" severity="secondary" [outlined]="true" />
              <app-button-component icon="pi pi-shopping-cart" styleClass="ml-2" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
