<p-carousel
  [numVisible]="numVisible"
  [numScroll]="numScroll"
  [value]="value"
  [circular]="circular"
  [autoplayInterval]="autoplayInterval"
>
  <ng-template let-product #item>
    <div class="flex h-full w-full justify-center">
      <div class="flex h-full max-w-96 flex-col overflow-hidden rounded-xl border shadow-sm">
        <div class="relative aspect-square overflow-hidden">
          <app-image-component
            imageClass="h-full w-full object-cover"
            [src]="product.images[productImage[product.id]]"
            [alt]="product.name"
            loading="lazy"
            decoding="async"
            appendTo="body"
            [preview]="true"
          />
        </div>

        <div class="flex items-center justify-between gap-1 px-1">
          <app-button-component
            icon="pi pi-chevron-left"
            [rounded]="true"
            [text]="true"
            severity="secondary"
            size="small"
            (buttonPressed)="onPreviousButtonPressed(product)"
          />

          <div class="flex items-center gap-1 py-1">
            @for (image of getProductImages(product); track image.index) {
              <div
                class="size-14 shrink-0 cursor-pointer overflow-hidden rounded-md border"
                [class.scale-110]="productImage[product.id] === image.index"
                [class.border-2]="productImage[product.id] === image.index"
                [class.opacity-50]="productImage[product.id] !== image.index"
                (click)="onImageChanged(product, image.index)"
                onkeypress=""
              >
                <img
                  imageClass="h-full w-full object-cover"
                  [src]="getThumbnail(image.src)"
                  [alt]="product.id"
                  loading="lazy"
                  decoding="async"
                />
              </div>
            }
          </div>

          <app-button-component
            icon="pi pi-chevron-right"
            [rounded]="true"
            [text]="true"
            severity="secondary"
            size="small"
            (buttonPressed)="onNextButtonPressed(product)"
          />
        </div>

        <div class="flex flex-1 shrink-0 flex-col justify-between px-2 pb-2">
          <div>
            <div class="my-1 text-lg font-semibold">
              <span>{{ product.name }}</span>

              @if (product.series && product.series !== product.type) {
                <span> - {{ product.series }}</span>
              }
            </div>

            <div class="my-1 flex flex-wrap gap-x-3 gap-y-0">
              @if (product.studio) {
                <span class="text-sm font-medium text-gray-500">
                  {{ product.studio }}
                </span>
              }

              @if (product.material) {
                <span class="text-sm font-medium text-gray-500">
                  {{ product.material }}
                </span>
              }

              @if (product.type) {
                <span class="text-sm font-medium text-gray-500">
                  {{ product.type }}
                </span>
              }
            </div>
          </div>

          <div class="my-1 flex items-center justify-between">
            <span class="font-semibold">
              {{ product.price | currency: 'VND' : 'symbol' : '1.0-0' }}
            </span>

            <div>
              <app-button-component icon="pi pi-heart" severity="secondary" [outlined]="true" />
              <app-button-component icon="pi pi-shopping-cart" styleClass="ml-2" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
