.envelope-container {
    --envelope-background-color: #db7093;
    --envelope-top-flat-color: #db7093;
    --envelope-side-flats-color: #ffb6c1;
    --envelope-bottom-flat-color: #ffc0cb;
    --envelope-heart-color: #d00000;

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--envelope-background-color);
}

.flap {
    position: absolute;
    z-index: 3;
}

.top-flap {
    width: 100%;
    height: calc(50% + 5px);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    background-color: var(--envelope-top-flat-color);
    transform-origin: center top;
}

.side-flaps {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 100%, 0 100%);
    background-color: var(--envelope-side-flats-color);
}

.bottom-flap {
    bottom: 0;
    width: 100%;
    height: calc(50% + 2.5px);
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    background-color: var(--envelope-bottom-flat-color);
}

.envelope-content {
    position: relative;
    padding: 10px;
}

.hearts {
    position: absolute;
    right: 0;
    bottom: 10%;
    left: 0;
    height: 50%;
    pointer-events: none;
    z-index: 2;
}

.heart {
    position: absolute;
    bottom: 0;
    color: var(--envelope-heart-color);
    animation-name: heartFloat;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.opened {
    .top-flap {
        transform: rotateX(180deg);
        transition: transform 0.5s ease, z-index 0.25s;
        z-index: 1;
    }

    .envelope-content {
        transform: translateY(-100%);
        transition: transform 0.5s 0.25s ease-in-out, z-index 0.5s;
        z-index: 2;
    }
}

.sealed {
    .top-flap {
        transform: rotateX(0deg);
        transition: transform 0.5s 0.25s ease, z-index 0.75s;
        z-index: 5;
    }

    .envelope-content {
        transform: translateY(0px);
        transition: transform 0.5s ease, z-index 0.25s;
        z-index: 2;
    }

    .heart {
        transform: translateY(0);
        opacity: 0;
        animation: none;
    }
}

@keyframes heartFloat {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateX(40px) translateY(-240px);
        opacity: 0;
    }
}