/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'ZhCnFont';
    src: url('./assets/fonts/zhcn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --app-font-family: 'ZhCnFont';

    --header-background-color: #1b1d2a;
    --header-color: white;
}

html, body {
    margin: 0;
    font-family: var(--app-font-family);
}