/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

/* @import "tailwindcss";
@plugin "tailwindcss-primeui"; */

@font-face {
    font-family: 'SF-Compact';
    src: url('./assets/fonts/SF-Compact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-family-app: 'SF-Compact';
}

html, body {
    height: 100%;
    margin: 0;
    font-family: var(--font-family-app) !important;
}