<p-menubar [model]="items" class="rounded-none">
  <ng-template #start>
    <div class="flex w-20 items-center">
      <app-image-component src="../../../../assets/images/logo.svg" />
    </div>
  </ng-template>

  <ng-template #item let-item let-root="root">
    <a pRipple [routerLink]="item.routerLink" class="p-menubar-item-link flex items-center">
      <span>{{ item.label }}</span>

      @if (item.badge) {
        <p-badge [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
      }

      @if (item.shortcut) {
        <span
          class="border-surface bg-emphasis text-muted-color ml-auto rounded border p-1 text-xs"
        >
          {{ item.shortcut }}
        </span>
      }

      @if (item.items) {
        <i [ngClass]="['pi ml-auto', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
      }
    </a>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center gap-2">
      <input type="text" pInputText placeholder="Search" class="w-36" />

      <app-toggle-switch-component [(model)]="checked" (valueChanged)="onDarkModeChanged()" />

      <p-avatar
        image="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m3vzr2sm65rp4f.webp"
        shape="circle"
      ></p-avatar>
    </div>
  </ng-template>
</p-menubar>
